body{
    background-color: #FF5C58;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
    background-color: #FFEDD3;
    width: 600px;
    /* height: 400px; */
}
.container div {
    width: 100px;
    height: 100px;
    background-color: #FE8F8F;
    color: #FCD2D1;
    border: 25px solid #FFEDD3;
    font-size: 60px;
    /* margin: auto; */
    text-align: center;
    font-weight: bold;
}